a{
    display: inline-block;
    color:black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font: bold;
    background-color: skyblue;
  
}
a:hover {
    background-color:lightgray;
  }

body{
    
    background-repeat: repeat;
}